<!DOCTYPE html>
<html>
  <head>
    <title>Feelings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex justify-center bg-gray-200 h-full">
    <main class="container flex justify-center align-center h-full">
      <nav class="fixed flex pl-10 pt-2 pb-2 w-full bg-white">
        <h1 class="text-blue-500 text-2xl font-semibold">Feelings</h1>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
